<!DOCTYPE html>
<html>
<body>
<form method = "POST" action = '/add'>
First name: <input type="text" name="FirstName" ><br>
Last name: <input type="text" name="LastName"><br>
Birthday: <input type="text" name="Birthday"><br>
Address: <input type="text" name="Address"><br>
ID: <input type="text" name="ID"><br>
<input type="submit" value="Submit">	
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>

</body>
</html>

