<!DOCTYPE html>
<html>
<body>
<form method = "POST" action = '/comments_add'>
Name: <input type="text" name="commentName" ><br>
Content: <input type="text" name="commentContent"><br>
ID: <input type="text" name="commentId"><br>
<input type="submit" value="Submit">  
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the server called "/action_page.php".</p>

</body>
</html>

