<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Birthday</th>
    <th>Address</th>
    <th>Id</th>
  </tr>
  <tr>
    
    First name: <input type="text" name="newFirstName" ><br>
    Last name: <input type="text" name="newLastName"><br>
    Birthday: <input type="text" name="newBirthday"><br>
    Address: <input type="text" name="newAddress"><br>
    ID: <input type="text" name="newID"><br>
    <form method = "POST" action = '/make'>
    <input type="submit"  name = "newid_info">  
    </form>
    
  </tr>
</table>